.KnowMore {
  padding: 100px;
  padding-right: 15vw;
  padding-left: 15vw;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  font-family: Lato, "Helvetica Neue", Helvetica, arial, sans-serif;
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 50px;
  font-weight: 300;
}

.GithubLogo{

 text-align: center;
 margin-top: 20vh;
 height: 50px;

}

.GithubLogoImg{
  height: 10vh;
}
